* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}



body {
  color: #576366;
  background: #5fcf80;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 95%;
  max-width: 780px;
  padding-bottom: 2em;
  margin: 0 auto 2em;
  background: #fff;
  border-radius: .5em;
  -webkit-box-shadow: 0 3px rgba(0, 0, 0, .1);
  box-shadow: 0 3px rgba(0, 0, 0, .1);
  overflow: hidden;
}


/*teachers*/

.course img {
  height: 12vh;
  padding-right: 16px;
}

/*Navbar */
.main-nav a {
  font-size: .95em;
  color: #222;
  text-transform: uppercase;
  display: block;
  padding: 1em;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

@media (min-width: 769px){
  .main-nav a {
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    padding: 1.25em 1.5em;
}
}
/*logo*/
.icn-logo {
  background: #54606b;
  color: #fff;
}
@media (min-width: 769px)
{
  .icn-logo {
    margin-right: auto;
    padding: 0 2em;
}
}

.wrapper{
  margin-top:100px;
  border-radius: 20px;
  background-color: white;
  padding-left:0;
  padding-right:0;
  padding-bottom: 50px;
}
.navbar{
  background-color: #EDEFF0;
  border-radius: 10px 10px 0 0;
  border:0;
}
.navbar a{
  color:#333;
  transition-duration: .5s;
  transform: all;
  font-weight: 600;
}
.navbar-nav > li > a:hover{
  background-color: #3B80D1;
  color:white;
  transition-duration: .5s;
  transform: all;
}

.navbar-brand
{
  padding: 0;
}
.navbar-brand img
{
  height: 100%;
  border-radius: 10px 0 0 0 ;
}
.teachers{
  display: flex;
  flex-wrap: wrap;
}
.teachers img{
  width:100%;
}
.course{
  margin:10px 20px 20px 20px;
}
.col-lg-2 img{
  width:100%;
}
.cours{
  margin:0 0 0 20px;
}
.nav-pills li{
  border-radius: 5px;
}
.nav-pills> li >a:active {
  background-color: #39ADD1;
  color:white;
}
.nav-pills> li >a:focus {
  background-color: #39ADD1;
  color:white;
}
.nav-pills li a {
  color:#576366;
}
.nav > li > a:focus{
  background-color: #3B80D1;
  color:white;
}
.active{
  background-color:#3B80D1;
  color:white;
}





